* {
  margin: 0;
  padding: 0;
}

#wrapper {
  background-color: #0cbea8;
  height: 83vh;
  width: 92%;
  margin: 1em auto 1em auto;
  border-radius: 2em;
  padding: 2em;
}

#welcome {
  text-align: center;
}

#title {
  margin: 2em auto 0 auto;
  font-size: 3em;
}

#subtitle {
  margin-top: 2em;
  font-size: 2em;
}

#startButton {
  margin: 5em auto auto auto;
  font-size: 1.2em;
  text-align: center;
  width: 20%;
  transition: 0.5s;
}

#startButton:hover {
  transform: scale(2);
}

.fa-chevron-right {
  margin-left: 0.5em;
}

.fa-chevron-left {
  margin-right: 0.5em;
}

.move {
  position: absolute;
  bottom: 3em;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.basicInput {
  display: block;
  width: 30%;
  height: 2em;
  margin: 5em auto;
  text-align: center;
}

#objectiveTextArea,
#skillsTextArea {
  display: block;
  margin: 5em auto;
  width: 60%;
  height: 10em;
}

#buttonArea {
  display: flex;
  justify-content: space-between;
  margin: 5em auto auto auto;
  font-size: 1.2em;
  text-align: center;
  width: 20%;
  transition: 0.5s;
}

#education {
  text-align: center;
}

#eduDegree,
#degreeLevel {
  display: inline;
  margin: auto;
}

#eduDegree {
  margin-left: 22.3em;
}

#degreeLevel {
  margin-left: 1em;
}

.pageType {
  font-size: 2em;
  text-align: center;
}
